body{
    background-color: #273C75;
    color: white;
}

b{
    color: #DB5712;
}

p{
    font-size: 24px;
    line-height: 42px;
}

a {
    color: #DB5712;
    text-decoration: none;
}

a:hover {
    color: #1DD1A1;
    text-decoration: none;
}

.arrow{
    text-align: center;
}

.btn{
    background-color: #DB5712;
    border-color: #DB5712;
    color: white;
    border-radius: 5px;
    margin-left: 40px;
}

.btn:hover{
    background-color: #FC8546;
    border-color: #FC8546;
    color: white;
    opacity: 1.25;
}

.card-orange{
    text-align: center;
    padding: 10px;
    margin:10px;    
    background-color: #DB5712;
    opacity: 0.6;
    border-radius: 5px;
}

.card-green{
    text-align: center;
    padding: 10px;
    margin:10px;    
    background-color: #1DD1A1;
    opacity: 0.6;
    border-radius: 5px;
}

.card-orange-light{
    text-align: center;
    padding: 10px;
    margin:10px;    
    background-color: #DB5712;
    border-radius: 5px;
}

.card-green-light{
    text-align: center;
    padding: 10px;
    margin:10px;    
    background-color: #1DD1A1;
    border-radius: 5px;
}

.comissao{
    font-size: 24px;
    line-height: 42px;
    list-style-type: none;
}
.empty-block{
   width: 100%;
   height: 430px;
   background-color: transparent;
}
.empty-block2{
   width: 100%;
   height: 112px;
   background-color: transparent;
}
.img-slider{
    align-content: center;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: #1F3161;
}

.nav-link{
    color: white;
    margin-left: 40px;
}

.title{
    text-align: center;
}